# common 라이브러리 다운로드용
GITHUB_USER={깃허브아이디}
GITHUB_TOKEN={깃허브토큰}

# Config Server Basic Auth
CONFIG_SERVER_USERNAME="{팀노션 .env 참고}"
CONFIG_SERVER_PASSWORD="{팀노션 .env 참고}"

# Config Server URL
CONFIG_SERVER_URL=http://localhost:8888

# Encryption key for {cipher} values
ENCRYPT_KEY="{팀노션 .env 참고}"

# Keycloak
KEYCLOAK_CLIENT_SECRET=
